DB_HOSTNAME=localhost
DB_USERNAME=postgres
DB_DATABASE=iamdejan_db
DB_PASSWORD=

ENCRYPTION_KEY=

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

STRIPE_SECRET_KEY=

CALENDLY_PAT=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=

OAUTH_REDIRECT_URI=https://integrations.iamdejan.com/oauth/callback
